.bottom-bar * {
  box-sizing: border-box;
}

/* Main container */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 65px;
  background: #ffffff;

  display: flex;
  flex-direction: row;       
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #e5e5e5;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

/* Each item */
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color:#777;
  cursor: pointer;
  min-width: 60px;

  transition: all 0.3s ease;
}

.item span {
  font-size: 14px;
  margin-top: 2px;
}

/* Hover */
.item:hover {
  color: #d35400;
}

/* Active */
.item.active {
  background: #d35400;
  color: #fff;
  padding: 6px 12px;
  border-radius: 10px;
}

.bottom-bar a {
  text-decoration: none;
  color: inherit;
}