.menu-page {
  background: #f6efe8;
  min-height: 100vh;
}

.hotel {
  background: url("../../assets/img1.png") center/cover no-repeat;
  padding: 60px 20px;
  text-align: center;
  color: white;
  height: 230px;
  position: relative;
}

@media (max-width: 900px) {
  .hotel {
    height: 160px;
  }
}

.hotel-menu {
  padding: 2px;
  text-align: center;
  position: relative;
}

.hotel-menu h1 {
  font-size: 49px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0px;
}

.hotel-menu p {
  font-size: 27px;
  color: #d9d0d0;
  margin-top: 2px;
}

.hotel::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hotel * {
  position: relative;
  z-index: 1;
}

.back-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  background: rgba(105, 102, 102, 0.6);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 9px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 7px;
  flex-wrap: wrap;
}

.filters button {
  margin-top: 10px;
  padding: 8px 18px;
  border-radius: 7px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.filters .active {
  background: #c65a1e;
  color: white;
  border-color: #c65a1e;
}

.section-title {
  padding: 0 30px;
  margin-bottom: 0px;
}

@media (max-width: 900px) {
  .section-title {
    text-align: center;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

.menu-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0px 0px 5px 0px;
  font-size: 25px;
}

.card-content p {
  font-size: 17px;
  color: #666;
  margin-top: 0px;
}

.card-footer span {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 0px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-footer button {
  background: #c65a1e;
  color: white;
  border: none;
  font-size: 17px;
  width: 40%;
  padding: 6px 14px;
  border-radius: 7px;
  white-space: nowrap;
  width: fit-content;
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}